
h3= title

each image in gallery
  div.row
    div.col-sm-3.col-md-3
    div.col-sm-6.col-md-6
        div.thumbnail
            a(href=image.href) 
                img(src=image.src)
            div.caption
                a(href=image.href) 
                    span=image.label ? image.label : title
    div.col-sm-3.col-md-3

div
   if (content)
    !=Markdown(content.trim())